<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="" class="title"> Spring Blog</a></h1>
      </div> <!-- Title -->
      <div class="col-md-3" *ngIf="authService.isAuthenticated()">
          <a href="/add-post" class="new-post">Add Post</a>
          <button class="logout btn btn-default" (click)="logout()">Logout</button>
      </div>
      <div class="col-md-3" *ngIf="!authService.isAuthenticated()">
        <a href="/login" class="login btn btn-default">Login</a>
        <a href="/register" class="register btn btn-default">Register</a>
      </div> <!-- Login and Register -->
    </div>
  </div>
</div>
